<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forumulário</title>

    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/form.js" defer></script>
</head>
<body id="page-body">

    <header class="page-header">
        <img src="/assets/logo.png" alt="">
    </header>

    <div id="container">
        <div class="page-container ">
            <h1>Formulário de autodeclaração</h1>
            <main>
                <form action="/passport" id="form-page" method="POST">
                    <div class="input-block">
                        <label for="cpf">Digite seu CPF:</label>
                        <!-- <input type="text" id="cpf" maxlength="11" /> -->
                        <input 
                            id="cpf" 
                            name="cpf" 
                            oninput="mask(this)" 
                            type="text" 
                            placeholder="Ex: 000.000.000-00"
                            required
                        >
                    </div>

                    <div class="select-block">
                        <label for="user">Tipo de usuário: </label>
                        <select name="userType" id="userType" disabled required>
                            <option value="">Selecione uma opção</option>
                            <option value="0">Matrícula</option> 
                            <option value="1">Conselho</option>
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="matricula">Digite sua matrícula/conselho:</label>
                        <input name="matricula" type="text" disabled required>
                    </div>
                    <div class="symptoms-block">
                        <label for="checkbox">Você teve algum dos sintomas abaixo nos últimos 14 dias?</label>
                            <ul class="symptoms-list">
                                {% for symptom in symptoms %}
                                    <li>
                                        <input type="checkbox" name="{{ symptom }}" class="symptoms" data-id="{{ symptom }}" disabled>
                                        <label for="{{ symptoms }}">{{ symptom }}</label><br>
                                    </li>
                                {% endfor %}
                                <input type="checkbox" name="no-symptoms" disabled>
                                <label for="no-symptoms">Nenhum sintoma</label><br>
                            </ul>
                        
                        <input type="hidden" name="symptoms">
                    </div>
                    <div class="confirm-declaration">
                        <input type="checkbox" name="declaration" id="" disabled required>Declaro que as informações fornecidas são verdadeiras
                    </div> 
                    
                    <button class="button" type="submit" form="form-page">Enviar</button>
                </form>
            </main>
            
        </div>
    </div> 
</body>
</html>