<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forumulário</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body id="page-body">

    <header class="page-header">
        <img src="/assets/logo.png" alt="">
    </header>

    <div id="container">
        <div class="page-container ">
            <div class="confirmation">
                <h1>123.456.789-10</h1>
                <h2>Você está apto para acessar as instalações da Bahiana</h2>
                
                <img src="/public/assets/check_circle_outline-white-48dp.svg" alt="">

                <p>
                    Apresente esse comprovante na portaria
                </p>
            </div>
        
            <button class="button" type="submit">Baixar</button>

        </div>
    </div> 
</body>
</html>