<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forumulário</title>

    <link rel="stylesheet" href="/styles/main.css">
</head>
<body id="page-body">

    <header class="page-header">
        
        
    </header>

    <div id="container">
        <a href="/">
            <img src="/assets/back.svg" alt="Voltar">
        </a>
        <div class="page-container ">
            <div class="confirmation">
                <h1>{{ cpf }}</h1>

                {% if noSymptoms == 'true' %}
                <h2>Você está apto para acessar nossas instalações.</h2>
                
                <img src="/assets/verified-white-48dp.svg" alt="">

                <p>
                    Apresente esse comprovante na portaria
                </p>
                {% endif %}

                {% if noSymptoms == 'false' %}
                    <h2>Você não está apto para acessar nossas instalações.</h2>
                    
                    <img src="/assets/cancel-black-48dp.svg" alt="">

                    <p>
                        Um médico capacitado entrará em contato com você para acompanha-lo
                    </p>
                {% endif %}
            </div>
        
            <button class="button" type="submit">Baixar</button>

        </div>
    </div> 
</body>
</html>